<div>
    <div class="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-md-8 text-light border border-success mt-5 rounded border-3 pb-4">
                    <div class="mt-5 p5-0">
                        <div class="text-center">
                            <p class="h1" id="login">Writing Form</p>
                        </div>
                        <form action="" method="post" class="mt-5">
                            <div class="row g-3 align-items-center">
                                <div class="col-4">
                                    <label for="name" class="col-form-label text-white" style="text-align: center !important;">Name</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" name="name" id="name" class="form-control bg-transparent" aria-describedby="Form name">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>