<div class="container text-white" style="height: 100vh; background-color: #18181b;">
    <div class="col">
        <div class="row mt-3" style="display: inline-block; width: 100%;">
            <p class="mx-auto h1" style="text-align: center;">Welcome</p>
        </div>
        <div class="row" style="display: inline-block; width: 100%;">
            <i class="far fa-user-circle fa-10x mx-auto" style="text-align: center;"></i>
        </div>
        <div class="row mt-3" style="display: inline-block; width: 100%;">
            <p class="mx-auto" style="text-align: center;">Mr.Cat</p>
        </div>
        <div class="row">
            <div class="buttons d-grid gap-3">
                <button type="button" class="btn btn-outline-success" *ngIf="isLogin()" routerLink="/new-form">New Form</button>
                <button type="button" class="btn btn-outline-success" *ngIf="isLogin()" routerLink="/create-user">New User</button>
                <button type="button" class="btn btn-outline-success" *ngIf="isLogin()" routerLink="/">Statistics</button>
                <button type="button" class="btn btn-outline-success" *ngIf="!isLogin()" routerLink="/board">View forms</button>
                <button type="button" class="btn btn-outline-success" *ngIf="!isLogin()" routerLink="/login">Login</button>
            </div>
        </div>
    </div>
</div>