<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100 text-white" style="background-color: #388e3c !important; padding-bottom: 50px; padding-top: 50px; cursor: pointer;">
                <div class="card-body">
                    <!-- <h5 class="card-title">Card title</h5> -->
                    <p class="card-text mx-auto" style="font-size: 1.5em; text-align: center;">My Form</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-white" style="background-color: #388e3c !important; padding-bottom: 50px; padding-top: 50px; cursor: pointer;">
                <div class="card-body">
                    <!-- <h5 class="card-title">Card title</h5> -->
                    <p class="card-text mx-auto" style="font-size: 1.5em; text-align: center;">My Form</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-white" style="background-color: #388e3c !important; padding-bottom: 50px; padding-top: 50px; cursor: pointer;">
                <div class="card-body">
                    <!-- <h5 class="card-title">Card title</h5> -->
                    <p class="card-text mx-auto" style="font-size: 1.5em; text-align: center;">My Form</p>
                </div>
            </div>
        </div>
    </div>
</div>